input{
    font-size:xx-large;
    background-color:chartreuse;
    cursor: pointer;
}
p{
    font-size:x-large;
    background-color:cyan;
    font-style: normal;
}
h1{
    background-color: orangered;
    font-style: italic;
    text-align: center;
}
h6{
    background-color: aqua;
    font-style: oblique;
    text-align: center;
}