input{
    font-size:xx-large;
    background-color:darkblue;
    cursor: pointer;
}
p{
    font-size: x-large;
    background-color: darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    background-color: goldenrod;
}